*{
    display: flex;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.box{
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 75px;
    padding: 25px;
    width: 250px;
    height: 150px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 25px;
}
